body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

.noPaddingLeft{
	padding-left:0;
}

.noPaddingRight{
	padding-right:0;
}

p, img{
	margin:0;
	padding:0;
}

img{
	width:100%;
}

/*img{
	width:100%;
}*/

.setRight{
	text-align: right;
}

.yellowfont{
	color:#ffc000;
}

h2.heading{
	font-weight: 900;
	font-size: 36px;
}

.headerpara_section{
	text-align: center;
	padding-bottom: 60px;
}

.section_space{
    padding: 70px 0;
}

p{
	font-size: 18px;
}

.hide{
	display:none;
}

.show{
	display:block;
}

.hiddenMobile{
    display: block;
}

.hiddenDesktop{
    display: none;
}

.paraSpacing{
	padding:10px 10px;
}

.bgGrey{
	background-color: #f4f4f4;
}

@media only screen and (max-width: 767px) {
    .setRight{
		text-align: left;
	}
	.hiddenMobile{
		display: none;
	}
	
	.hiddenDesktop{
		display: block;
	}
	
}




